<!DOCTYPE html>
<html>
<head>
    <title>Trips</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/javascripts/main.js"></script>
</head>
<body>
<% include ./nav.ejs%>

<!-- Container (About Section) -->

    <div class="w3-content w3-container w3-padding-64" id="add">
        <h1>Editing trip</h1>
        <form method="post" action="/edit/<%= trip._id %>">
            <label>Title: </label><input class="w3-input w3-border" type="text" name="title" value="<%= trip.title%>" required />
            <label>Author: </label><input class="w3-input w3-border" type="text" name="author" value="<%= trip.author%>" required />
            <label>Short Description: </label><input class="w3-input w3-border" type="text" name="short_desc" value="<%= trip.short_desc%>" required />
            <label>Description: </label><input class="w3-input w3-border" type="text" name="description" value="<%= trip.description%>" required />
            <label>Image URL: </label><input class="w3-input w3-border" type="text" name="img_url" value="<%= trip.img_url%>" required />
            <br>
            <button class="w3-button w3-black" id="add" type="submit" >Edit</button>
        </form>
    </div>

</body>
</html>
