<!DOCTYPE html>
<html>
<head>
    <title>Trips</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/javascripts/main.js"></script>
</head>
<body>
<% include ./nav.ejs%>

<!-- Container (About Section) -->

<div class="w3-content w3-container w3-padding-64" id="add">
    <p>Share your trip</p>
    <div class="w3-content w3-container w3-padding-64" id="add">
        <h1>Editing trip</h1>
        <form method="post" action="/edit/<%= trip._id %>">
            <input class="w3-input w3-border" type="text" name="title" value="<%= trip.title%>" required />
            <input class="w3-input w3-border" type="text" name="author" value="<%= trip.author%>" required />
            <input class="w3-input w3-border" type="text" name="short_desc" value="<%= trip.short_desc%>" required />
            <input class="w3-input w3-border" type="text" name="description" value="<%= trip.description%>" required />
            <input class="w3-input w3-border" type="text" name="img_url" value="<%= trip.img_url%>" required />
            <button class="w3-button w3-black" id="add" type="submit" >Edit</button>
        </form>
    </div>
    <!--<a href="/add"><button class="w3-button w3-gray" type="button" >Add trip</button></a>-->
</div>

</body>
</html>
